
@import '../../theme-chalk/variables.scss';
@import "~element-ui/packages/theme-chalk/src/message-box";

.el-message-box {
  .el-message-box__header {
    padding-top: 15px;
    border-bottom: 1px solid $--border-color-base;
    .el-message-box__title {
      text-align: left;
      display: inline;
    }
  }
  .el-message-box__btns {
    direction: rtl;
    .el-button {
      margin-left: 10px;
      &:last-child {
        margin-left: 0;
      }
    }
  }
}